.pod-list {
    position: fixed;

    width: 200px;
    height: 100%;

    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    background-color: #fff;

    .pod-adder{
        width: 180px;
        height: 35px;
        
        margin: 0 auto;
        
        background-color: #e1e1e1;

        i {
            margin: 0 83px;

            line-height: 35px;
        }
    }
    
    .pod-list-item {
        width: 180px;
        height: 35px;

        margin: 5px auto;

        &:hover {
            background-color: #e1e1e1;
        }

        .pod-list-item-contents {
            margin: auto 5px;

            line-height: 35px;
        }
    }
}